html,
body {
  margin: 0;
  padding: 0; }

body {
  padding: 1em 0; }

label {
  padding: .5em 0;
  color: #AEAEAE; }

label,
input {
  display: block; }

textarea {
  width: 100%;
  height: 480px;
  font-family: Monaco, monospace; }

.container {
  min-width: 400px;
  width: 45%;
  font-family: Helvetica;
  margin-top: 2em;
  float: left;
  padding: 0 1em;
  display: inline-block; }

.debug {
  position: fixed;
  top: 0;
  left: 0;
  font-family: monospace;
  color: #FFF;
  background: #1C5F88;
  padding: 1em 20px;
  right: 0; }

.button {
  line-height: 3.5em;
  color: #FFF;
  font-size: .85em;
  text-decoration: none;
  display: block;
  padding: 0 1.8em;
  border-radius: 4px;
  background: #57AD68;
  margin: 1em 0;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.button:focus {
  outline: none; }

.button:hover {
  cursor: pointer;
  background: #6FB97E; }

.button.compiling {
  pointer-events: none;
  opacity: 0.5; }
