html,
body {
	margin: 0;
	padding: 0;
}

body {
	padding: 1em 0;
}

label {
	padding: .5em 0;
	color: #AEAEAE;

	.firmware_size {
		font-size: 0.75em;
		color: #8F8F8F;
		font-style: italic;
	}
}

label,
input {
	display: block;
}

textarea {
	width: 100%;
	height: 480px;
	font-family: Monaco, monospace;
}

.firmware {

	&.error textarea {
		background: rgba(249, 0, 0, 0.30);
	}

	&.success textarea {
		background: rgba(0, 224, 13, 0.19);
	}
}

.container {
	min-width: 550px;
	width: 58%;
	font-family: Helvetica;
	margin-top: 2em;
	float: left;
	padding: 0 1em;
	display: inline-block;

	&.firmware {
		min-width: 320px;
		width: 35%;
	}
}

.debug {
	position: fixed;
	top: 0;
	left: 0;
	font-family: monospace;
	color: #FFF;
	background: #1C5F88;
	padding: 1em 20px;
	right: 0;
}

.button {
	line-height: 3.5em;
	color: #FFF;
	font-size: .85em;
	text-decoration: none;
	display: inline-block;
	padding: 0 1.8em;
	border-radius: 4px;
	background: #57AD68;
	margin: 1em 0;
	border: none;

	&:focus {
		outline: none;
	}

	&:hover {
		cursor: pointer;
		background: #6FB97E;
	}

	&.compiling {
		pointer-events: none;
		opacity: 0.5;
	}

	&.download {
		&.ready,
		&.compiling,
		&.error {
			display : none;
		}
	}
}

