<!doctype html>
<html ng-app>
<head>
    <title>Arduino Cloud Compiler</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/controller.js"></script>
    <script src="static/js/jquery-1.10.2.min.js"></script>
</head>
<body>

    <div class="app" ng-controller="Controller">
        <div class="debug">
            <div id="compileTime">
                &nbsp;
            </div>
        </div>

        <div class="container sketch">
            <form id="sketch_submission">
                <label for="sketch">Sketch</label>
                <textarea id="sketch" name="sketch" ng-model="sketch"></textarea>
                <input type="submit" name="submit" id="submit" class="button" ng-model="submit" value="Compile Sketch" ng-click="compile()" />
            </form>
        </div>

        <div class="container firmware">
            <label for="compiled">Firmware</label>
            <textarea id="compiled" name="compiled" readonly></textarea>
        </div>
    </div>

</body>
</html>
