<!doctype html>
<html ng-app>
<head>
    <title>Arduino Cloud Compiler</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
</head>
<body>

    <div class="app" ng-controller="Controller">
        <div class="debug">
            <div id="compileTime">
                &nbsp;
            </div>
        </div>

        <div class="container sketch">
            <form id="sketch_submission">
                <label for="sketch">Sketch</label>
                <textarea id="sketch" name="sketch" ng-model="sketch"></textarea>
                <input type="submit" name="submit" id="submit" class="button" value="Compile Sketch" />
            </form>
        </div>

        <div class="container firmware">
            <label for="compiled">Firmware</label>
            <textarea id="compiled" name="compiled" readonly></textarea>
        </div>
    </div>



    <script>
        var $submitButton = $("#submit");
        var $compileTime = $("#compileTime");
        var $sketch = $("#sketch");
        var $compiled = $("#compiled");

        $('#sketch_submission').submit(function(e){
            e.preventDefault();
            $compileTime.html('Compiling...');
            $compiled.val("");
            $submitButton.val("Compiling Sketch...").addClass('compiling');

            var compileTimeStart = new Date().getTime();

            $.ajax({
              type: "POST",
              url: "./compile",
              data: {
                  sketch: $sketch.val()
              }
            })
            .done(function(hex) {
                var compileTimeEnd = new Date().getTime();
                $compiled.val(hex);
                $compileTime.html('Compiled sketch in ' + (compileTimeEnd - compileTimeStart) + 'ms');
                $submitButton.val("Compile Sketch").removeClass('compiling');
            });
        })
    </script>
</body>
</html>
