<!doctype html>
<html>
<head>
    <title>Arduino Cloud Compiler</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
</head>
<body>

    <div class="container">
        <form id="sketch_submission">
            <label for="sketch">Sketch</label>
            <textarea id="sketch" name="sketch">
#define LED_PIN 13

void setup()
{
    pinMode(LED_PIN, OUTPUT);
}

void loop()
{
    digitalWrite(LED_PIN, HIGH);
    delay(100);
    digitalWrite(LED_PIN, LOW);
    delay(900);
}
</textarea>
            <input type="submit" name="submit" id="submit" value="Upload Sketch" />
        </form>
    </div>
    <div class="container">
        <label for="compiled">Compiled</label>
        <textarea id="compiled" name="compiled"></textarea>
    </div>
    <script>
        $('#sketch_submission').submit(function(e){
            e.preventDefault();

            $.ajax({
              type: "POST",
              url: "./compile",
              data: {
                  sketch: $("#sketch").val()
              }
            })
            .done(function(hex) {
                console.log(hex);
                $("#compiled").val(hex);
            });


        })
    </script>
</body>
</html>
